.adCard {
    width: 100%;
    max-width: 350px;
    min-width: 220px;
    height: fit-content;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border-radius: 10px;
    padding: 20px;
    font-family: Poppins, sans-serif;
    position: relative;
    margin: 40px auto 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adCard .content {
    margin: 20px 0px;
}

.adCard p {
    color: rgba(37, 56, 88, 0.8);
    font-size: 13px;
    margin: 10px 0px;
}

.adCard > h3 {
    margin: 0px;
    font-size: 16px;
    color: rgb(37, 56, 88);
}

.adCard > .knowMore {
    margin: 10px 0px;
    margin-bottom: 40px;
}

.adCard > .adImg {
    width: 100%;
    max-width: 180px;
    height: auto;
    align-self: center;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
  .adCard {
    max-width: 98vw;
    padding: 10px;
  }
  .adCard > .adImg {
    max-width: 120px;
    width: 100%;
  }
  .adCard > h3 {
    font-size: 14px;
  }
  .adCard p {
    font-size: 12px;
  }
}